*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* agar background dari div nya nempel ful keatas dan kiri CMIIW*/
}


body{
    background: radial-gradient(ellipse at bottom, #0d1b2a 0%, #000000 100%);
    margin: 0;
    padding: 0;
    z-index: 0px;
    
}

.stars-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: fall 10s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}


.NAVBAR{
    background-color:linear-gradient(to bottom, #1e3c72, #2a5298); /* atas ke bawah */
    display: flex;
    width:100%;
    border: #0d1b2a;
    
    
}

.text-nav{
    width: auto;
    padding: 12px;
    margin: 12px;
    margin-left: 152px;
    font-size: 22px;
    text-decoration: none;
    color: rgb(199, 198, 198);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 92px;
}

.text-nav:hover{
    text-decoration: underline;
    text-underline-offset: 22px;
    text-decoration-color: rgb(143, 0, 0);
    color: rgb(255, 255, 255);
     
}



.Onta{
    position: absolute; top: 0; left: 0;
    margin-top: 7px;
}




.RIAB{
    
    width: 100%;
    height: 552px;
    image-rendering: auto;
    filter: brightness(50%);
    
}

@font-face {
    font-family: 'MyCustomFont';
    src: url(Halo\ Dek.otf) format('truetype');
}

.Teks-Kelas{
    font-family: 'MyCustomFont';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 82px;
    color: aliceblue;
    letter-spacing: 18px;
    text-decoration: none;
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
    transition: transform 0.3s ease-in-out;
}

.Teks-Kelas:hover{
     transform: translate(-50%, -50%) scale(1.1); /* memperbesar 1.1x */
    transition: transform 0.3s ease-in-out;
}



.Gambar-umum{
    position: relative;
  width: 100%;
  height: 552px;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, black 80%, transparent 90%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  
}

.Teks-Pembuka{
    text-align: left;
    color: azure;
}

.Container-Teks-Pembuka{
    width: 100%;
    margin-top: 60px;
    padding-top: 92px;
    padding-left: 12px;
    padding-right: 562px;
    font-family: 'Formal';
    padding-bottom: 386px;
    background-color: #070e16;
    border-radius: 6px;
    z-index: 2px;
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px 2px rgba(9, 236, 236, 0.678);
  }
  to {
    box-shadow: 0 0 20px 8px rgba(9, 33, 114, 0.8);
  }
}


@font-face{
    font-family: 'Formal';
    src: url(The\ Visitor.otf) format('truetype');
}

.Point-Teks-Pembuka{
    margin-left: 16px;
    
}

.Logo-Riab{
      position: absolute;
      top: 4px;
      left: 1245px;
      width: 84px; /* ukuran gambar bisa disesuaikan */
      height: auto;
      margin: 0px; /* opsional: jarak dari tepi */
     
      
}

.Ustad-Rizki{
   
    border-radius: 12px;
    box-shadow: 10px 10px 30px rgb(49, 49, 49);
    position: absolute;
    right: 92px;
    top: 826px;
    transition: transform 0.5s ease-in-out;
    display: block;
}

.Ustad-Rizki:hover{
    transform: scale(1.08);
    transition: 1s;
    transition: ease-out 0.8s;
}


.Nama-Ustad1{
    color: aliceblue;
    position: absolute ;
    right: 110px;
    top: 1200px;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

